nav {
    background-color: orange;
    padding-top: 7px;
    padding-left: 30px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
}

.logo {
    padding-right: 10px;
}

.nav-item {
    font-size: 29px;
    font-weight: bold;
    text-decoration: none;
    color: lightcyan;
    opacity: 0.8;
    padding-left: 20px;
    padding-right: 20px;
}

.main-pic {
    width: 100%;
}

.about-us {
    color: lightblue;
    font-size: 38px;
    font-weight: bolder;
    text-align: center;
    background-color: indigo;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contents {
    text-align: center;
    padding-left: 170px;
    padding-right: 170px;
}

h1 {
    padding-top: 78px;
    padding-bottom: 25px;
    font: Helvetica;
    font-size: 45px;
}

.aboutus-contents {
    font-size: 20px;
}


.contact-img {
    background-image: url(https://company.bk.com/sites/all/themes/custom/bk_theme/img/bg/aboutBK-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 350px;  
    margin-bottom: 87px;
}

footer {
    background-color: #522e1deb;
    color: white;
    height: 80px;
    padding-top: 30px;
}

.footer-item {
color: lavender;
}
.left {
    float: left;
    padding-left: 90px;
}

.right {
    float: right;
}